@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
    font: 24px Helvetica,Tahoma,Arial,Sans,Sans-serif;
    font-weight: bold;
    background-color: #2c2c2c;
    color: #cccccc;
}

a {
    color: #cccccc;
    font-style: normal;
    text-decoration: none;
}


h1 {
    font-family: Helvetica,Tahoma,Arial,Sans,Sans-serif;
    margin-left: 0px;
    margin-bottom:16px;
    float: left;
    font-weight: bold;
    color: black;
    text-shadow: 0 2px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.clear {
    clear: both;
}

#content {
    width: 480px;
    height: 480px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -240px 0px 0px -320px;
}

#the_list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#the_list>li {
    list-style: none;
    font-family: Monaco, Consolas, Courier New, monospace;
    margin: 4px 0 4px 0;
}

.gmail { color: #dc4b39; }
.irc { color: #73c27d; }
.twitter { color: #00acee; }
.linkedin { color: #449ac8; }
.stack-overflow { color: #e08024; }
.keybase { background-image: url('https://keybase.io/favicon.ico'); }

#terminal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 32px;
  z-index: -100;
}

.terminal {
  font-family: 'Droid Sans Mono';
  font-size: 11px;
  background-color: transparent !important;
}

.terminal .reverse-video {
  color: #000;
  background: #f0f0f0;
}
